django==1.9
djangorestframework==3.3.3
python-social-auth==0.2.14
django-rest-framework-social-oauth2==1.0.4
django-model-utils==2.4
python-decouple==3.0
django-extensions==1.6.1
Werkzeug==0.11.5
django-guardian==1.4.2
dj-database-url==0.4.0
psycopg2==2.6.1
djangorestframework-gis==0.10.1
